body{
	margin:0;
	padding:0;
	font-family:'HelveticaNeue Ite', sans-serif;
	width:100%;
}
a{
	outline:none;
	border:none;
}
a:visited, a:focus, a:{
	outline:none;
	border:none;
}
* { -webkit-tap-highlight-color: rgba(0,0,0,0); }
header{
	background:#fff;
	padding:0 10px;
	position:fixed;
	z-index:2;
	top:0;
	left:0;
}
/*menu*/
.menu-container{
	padding:5px;
	margin:15px 0 15px 0px;
	position:relative;
	float:left;
}
.menu{
	width:24px;
	height:24px;
}
.menu img{
	max-width:100%;
}
.menu ul{
	display:none;
	padding:0;
	background:rgba(132, 13, 143, 0.9);
	list-style-type:none;
	position:absolute;
	left:-10px;
	z-index:99;
	color:#bfbfbf;
}
.menu li{
	text-align:center;
	font-size:10px;
	padding:10px 1px;
}
.menu li img{
	display:inline-block;
	width:36px;
	height:36px;
}
/*logo*/
.logo{
	float:left;
	text-align:center;
	padding:15px 0;
}
.logo span{
	display:inline-block;
}
.logo .cheff{
	color:#feee00;
	font-size:30px;
}
.logo .colombia{
	color:#650e81;
	font-size:16px;
}
.logo-headers{
	height:40px;
	width:auto;
}
/*search*/
.search-container{
	padding:5px;
	margin:15px 0;
	float:left;
}
.search{
	width:24px;
	height:24px;
}
.search img{
	max-width:100%;
}
.search-input{
	background:#f7f7f7;
	position:absolute;
	width:96%;
	padding:10px 2%;
	left:0;
	top:50px;
	display:none;
}
.search-input input{
	width:90%;
	margin:0 auto;
	display:block;
	background:#dbdbdb;
	color:#000;
	border:0;
	border-radius:5px;
	padding:3px;
}
/*share*/
.share-container{
	padding:5px;
	margin:15px 0;
	float:left;
	position:relative;
}
.share{
	width:24px;
	height:24px;
}
.share img{
	max-width:100%;
}
.share ul{
	display:none;
	padding:0;
	background:rgba(132, 13, 143, 0.9);
	list-style-type:none;
	position:absolute;
	left:-10px;
	z-index:99;
	color:#bfbfbf;
}
.share li{
	text-align:center;
	font-size:10px;
	padding:14px;
}
.share li img{
	display:inline-block;
	width:36px;
	height:36px;
	max-width:none;
}
/*main*/
.main{
	padding:20px 0 0 0;
	float:left;
	width:100%;
}
/*recetas*/
.recetas{
	margin:65px 10px 0 10px;
	padding:0;
	list-style-type:none;
}
.recetas li{
	overflow:hidden;
	clear:both;
	margin:10px 0;
	border-bottom:1px solid #c8c8c8;
	padding:0 0 10px 0;
}
.recetas li .img{
	background-size:75px 50px;
	background-position:center;
	float:left;
	width:50px;
	height:50px;
	margin-right:10px;
}
.recetas li h2{
	font-weight:bold;
	margin:0 0 3px 0;
	color:#650e81;
	font-size:20px;
}
.recetas li span{

}
/*slides*/
.slide{
	background:#fff;
	position:absolute;
	margin-top:50px;
}
/*receta*/
.receta-titulo{
	text-transform:uppercase;
	font-weight:lighter;
	font-size:20px;
	line-height:1.5;
	color:#650e81;
	padding:10px;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-container a{
	display:block;
	line-height:0;
}
.video{
	width:100%;
}
.play{
	position:absolute;
	right:10px;
	bottom:10px;
}
button{
	background:#650e81;
	padding:5px;
	border:0;
	border-radius:5px;
	color:#fff;
	width:70%;
	display:block;
	margin:20px auto;
}
.fancybox{
	list-style-type:none;
	text-align:center;
	margin:20px 0;
	padding:0;
}
.fancybox li{
	display:inline-block;
	width:29%;
	margin:0 1%;
}
.fancybox li a{
	display:block;
	width:100%;
	height:100%;
}
.fancybox li .img{
	background-size:cover;
	background-position:center;
	display:block;
	width:100%;
	height:100%;
	border-radius:50%;
}
footer{
	background:#650e81;
	padding:15px 10px;
	overflow:hidden;
}
footer a{
	color:#fff;
	text-decoration:none;
	position:relative;
}
footer a span{
	font-size:40px;
	position:absolute;
}
footer .siguiente{
	padding-right:20px;
	float:right;
}
footer .anterior, footer .pdfprev{
	padding-left:20px;
	float:left;
}
footer .siguiente span{
	top:-13px;
	right:-5px;
}
footer .anterior span, footer .pdfprev span{
	top:-13px;
	left:-5px;
}
/*pdfs*/
.pdf{
	position:absolute;
	z-index:3;
}
.loadpdf{
	background:#3e3e3e;
	overflow:scroll;
}
.loadpdf img{
	max-width:100%;
}
/*alerts*/
.info{
	background:rgba(132, 13, 143, 0.9);
	position:absolute;
	visibility:hidden;
	width:80%;
	left:50%;
	top:150px;
	color:#fff;
	padding:20px 10px 70px;
	font-weight:bold;
	font-size:12px;
	text-align:center;
	line-height:1.5;
}
.info a{
	color:#f2f2f2;
	text-decoration:none;
}
.news{
	background:rgba(132, 13, 143, 0.9);
	position:absolute;
	visibility:hidden;
	width:80%;
	left:50%;
	top:150px;
	color:#fff;
	padding:20px;
	font-weight:normal;
	font-size:12px;
	line-height:1.5;
}
.news p{
	font-size:24px;
	margin:3px 0;
}
.news span{
	font-size:12px;
	color:#898e91;
}
.aviso{
	float:left;
	width:70%;
}
.onoffswitch {
    position: relative; width: 85px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    float:right;
    margin:10px 0;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #7C3294; border-radius: 30px;
    text-align:left;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 19px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0px 15px 0px rgba(0,0,0,0.08) inset;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 5px;
    background-color: #00EC00; color: #FFFFFF;
    border-radius: 30px 0 0 30px;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 5px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
    border-radius: 0 30px 30px 0;
}
.onoffswitch-switch {
    width: 30px; margin: 0px;
    background: #FFFFFF;
    border: 2px solid #7C3294; border-radius: 30px;
    position: absolute; top: 0; bottom: 0; right: 51px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%); 
    background-image: linear-gradient(center top, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/*swiffy*/
#swiffycontainer{
	background:#333;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	min-height:100%;
	text-align:Center;
	z-index:300;
	overflow:hidden;
}
#swiffycontainer .splash{
	width:100%;
}
#swiffycontainer .logo-splash{
	position:fixed;
	bottom:20%;
	right:0;
	width:50%;
}
.trece{
	position:fixed;
	bottom:0;
	right:0;
}
/*mediaqueries*/
@media (max-width:390px){
	.aviso{
		float:left;
		width:100%;
	}
	.news p{
		font-size:20px;
	}
}
@media (max-width:360px){
	.recetas li h2 {
		font-size:15px;
	}
	.recetas li span {
		font-size:12px;
	}
}